@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #2C3E50;     
    --secondary-color: #4A90E2;   
    --light-blue: #A3C9F9;          
    --accent-color: #FFC107;       
    --primary-text-color: #2C3E50;   
    --secondary-text-color: #333333; 
    --light-text-color: #5A5A5A;  
    --darker-blue: #04125c; 
    --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #f0f0f0;
    --light-text: #151426;
    --light-btn: #9796f0;
    --blue: #0000ff;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --font-family: consolas;
}

.empty-div{
    height: 10%;
}

.form-container {
    display: flex;
    background-color: #f9f9f9;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    color: #e7e7e7;
    justify-content: center;
    font-family: 'arial' sans-serif;
}

.last-group {
    margin: 0;
}

.form-group input {
    display: block;
    width: 100%;   
    height: 45px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    /* box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.002); */
    letter-spacing: 0rem;
    transition: all .3s ease-out;
}

.form-group input:not(:focus),
.form-group select:not(:focus) {
    color: #808080;
}

.form-group label {
    font-size: 1.1rem;
    font-weight: 450;
    letter-spacing: 0rem;
}

.form-group input:focus, 
.form-group select:focus {
    box-shadow: 1px 1px 20px var(--secondary-color);
}

.form-group textarea{
    border-radius: 5px;
    letter-spacing: 0rem;
    width: 100%;   
    resize: none;
    outline: none;
    border-color: var(--secondary-color);
    padding: 10px;
    height: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
    margin: 0;
}

input[type="number"] {
    appearance: none; 
}
/* 
.form-group select {
    display: block;
    height: 45px;
    width: 450px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.002);
    letter-spacing: 0rem;
} */

.hidden {
    display: none;
}

.messages {
    /* margin: 0px 0px 0px 40px */
    padding: 0px 60px 0px 40px;
}

.messages h3 {
    font-size: 1.3rem;
    text-wrap: nowrap;
}

.messages .scroll {
    width: 100%;
    min-height: 55dvh;
    max-height: 88dvh;
    overflow: auto;
}
.inner-body {

}

.messages .scroll::-webkit-scrollbar{
    width: 10px;

}

.messages .scroll::-webkit-scrollbar {
    height: 5px;
    width: 8px;
    cursor: pointer;
}
.messages .scroll::-webkit-scrollbar-track {
    background-color: #DFE9EB;
}

.messages .scroll::-webkit-scrollbar-track:hover {
    background-color: #b8c0c279;
}

.messages .scroll::-webkit-scrollbar-track:active {
    background-color: #b8c0c28a;
}

.messages .scroll::-webkit-scrollbar-thumb {
    background-color: #2c3e507e;
    cursor: pointer;
}

.messages .scroll::-webkit-scrollbar-thumb:hover {
    background-color: #2c3e5096;
}

.grid-messages {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    text-align: left;
    gap: 20px;
    position: relative;
    min-height: 75%;
}

.grid-messages .container {
    height: 100%;
    align-self: end;
    animation: fade 300ms ease-in;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 60px;
}


.row-1 {
    grid-row: 1;
}

.col-span-2 {
    grid-column: span 2;
}

.row-2 {
    grid-row: 2;
}

.col-2 {
    grid-column: 2;
}

.col-1 {
    grid-column: 1;
}

.right-bar{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 80px 10px;
    /* margin: 40px 0px 0px 0px; */
    justify-content: baseline;
    position: absolute;
    align-items: center;
    gap: 20px;
    justify-self: flex-end;
}


.right-bar button {
    position: relative;
    border: none;
    background: none;
    border-radius: 50%;
    padding: 8px;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right-bar button::after{
    content: '';
    position: absolute;
    background: #c4c4c46c;
    top: 50px;
    width: 30%;
    height: 1%;
}

.right-bar button.active::before {
    content: '';
    background: var(--secondary-color);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.right-bar button:last-child::after{
    background: none;
}

.right-bar button:hover {
    background: #c4c4c46c;
}

button[title='compose'] {
    /* position: absolute; */
    /* right: 0; */
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    background: none;
    /* fill: #f9f9f9; */
    color: #202124;
    /* color: #f9f9f9; */
    font-size: 14px;
    font-family: "Roboto";
    background: var(--secondary-color);
    border: none;
    border-radius: 10px;
    padding: 10px 24px 10px 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

button[title='compose']:hover {
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.788);
}

.messageBody {
    /* display: flex; */
    flex-direction: column;
    /* gap: 10px; */
}

.message-prev {
    display: flex;
    background: #f2f5fc;
    flex-direction: row;
    position: relative;
    gap: 8px;
    color: #202124;
    padding: 10px 5px;
    max-height: 120px;
    cursor: pointer;
    /* margin-bottom: 10px; */
    border-bottom: 0.2px solid #20212417;
    text-overflow: ellipsis;
    font-size: 14px;
    animation: fade 300ms ease-in;
}

.message-prev .left {
    text-wrap: nowrap;
    flex-basis: 168px;
    max-width: 168px;
    display: flex;
}

.message-prev .right {
    /* position: relative; */
    flex: 1;
    display: flex;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
    justify-content: space-between;
}

.message-prev .right .wrapper {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.message-prev .right .subject {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.message-prev .right .content {
    display: flex;
    text-decoration: none;
    text-align: left;
    max-width: 620px;
    color: #5F6368;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.message-prev .right .content span{
    text-align: center;
    align-items: center;
    display: flex;
}

.message-prev .right .content ol {
    display: flex;
}

.message-prev .right .content p,
.message-prev .right .content h1,
.message-prev .right .content h2,
.message-prev .right .content h3,
.message-prev .right .content h4,
.message-prev .right .content h5,
.message-prev .right .content h6{
    align-self: center;
    text-decoration: none;
}


.message-prev .right .content i,
.message-prev .right .content font{
    color: #5F6368;
    background: #f2f5fc;
    font-size: 14px;
    font-style: normal;
    font-family: Roboto;
    text-decoration: none;
    font-weight: 400;
    display: flex;
}


.message-prev .actions {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    background: #f9f9f9;
    box-shadow: -2px 3px 7px #0000004b;
    /* width: 15%; */
    border-radius: 0px 0px 0px 10px;
    padding: 3px 10px 5px 8px;
    /* display: flex; */
    align-items: center;
    /* margin: 8px 8px 0px 0px; */
}

.message-prev:hover{
    /* box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3); */
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 1;
}

.message-prev:hover .actions {
    display: flex;
}

.time {
    font-size: 12px;
    display: flex;
    padding: 0px 0px 0px 10px;
    align-items: flex-start;
    justify-content: flex-end;
    text-wrap: nowrap;
}

.message-prev .label {
    display: flex;
    padding: 0px 4px;
    margin: 0px 8px;
    border-radius: 4px;
    color: #666;
    font-size: 12px;
    height: min-content;
    background: #dddddd;
}


.modal,
.calendar-modal {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    /* transform: translate(-50%); */
    display: flex;
    padding: 60px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    animation: fade 300ms ease-in;
}

.modal > .container {
	max-width: 991px;
	width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
	background: #fff;
    flex: 1;
	border-radius: 8px 8px 0px 0px;
    animation: appear 200ms ease-in;
	overflow: hidden;
}
.modal > .container .toolbar {
	/* background: #eee; */
	padding: 0px 16px;
    flex: 1;
    position: relative;
    gap: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.modal > .container > .head {
    display: flex;
    padding: 0px 16px;
    position: relative;
    flex-direction: column;
}

.head .suggestions {
    flex-direction: column;
    gap: 2px;
    list-style: none;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 85px;
    padding: 0px 10px;
    border-radius: 5px;
    right: 90px;
    overflow: auto;
    min-width: 150px;
    max-height: 150px;
    animation: fade 100ms ease-in;
}

.suggestions li:nth-child(0){
    border: none;
}

.suggestions li {
    border-bottom: 1px solid #4547462c;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1;
    text-align: left;
    color: #454746a6;
    padding: 5px 0px;
    font-size: 12px;
}

.suggestions .details {
    display: flex;
    pointer-events: none;
    flex-direction: column;
    background: none;
    background: none;
    line-height: 14px;
}

.suggestions .name {
    font-size: 16px;
    background: none;
    font-weight: bold;
    line-height: 20px;
    color: #121212;
}

.modal > .container > .head input{
    outline: none;
    border: none;
    line-height: 20px;
    font-size: 14px;
    border-bottom: 0.5px solid #4547462c;
    padding: 10px 0px;

}

/* .modal > .container > .head input:not(:focus) .suggestions{
    display: none;
} */

.modal > .container .foot .buttons {
    display: flex;
    gap: 5px;
} 

.modal > .container .foot .buttons button{
    display: flex;
    color: #454746;
    cursor: pointer;
    padding: 6px 16px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.modal > .container .actions {
    display: flex;
	padding: 16px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #f2f5fc;
}


.modal > .container .actions p {
    font-size: 14px;
    color: #041E49;
}

.modal > .container .actions button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
    background: none;
}

.modal > .container .actions button:hover {
    background: #1d1d1d13;
}

.modal > .container .foot {
	display: flex;
	grid-gap: 10px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
}

.modal > .container .foot .left {
	flex-wrap: wrap;
    display: flex;
    gap: 10px;
    padding: 8px 0px;
}

.modal > .container .foot .left > input {
	max-width: 100px;
	padding: 6px 10px;
	border-radius: 6px;
	border: 2px solid #ddd;
	outline: none;
}
.modal > .container .foot .left select {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
.modal > .container .foot .left .color {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
	display: flex;
    
	align-items: center;
	grid-gap: 6px;
	padding: 0 10px;
}
.modal > .container .foot .left .color span {
	font-size: 14px;
}
.modal > .container .foot .left .color input {
	border: none;
	padding: 0;
	width: 26px;
	height: 26px;
	background: #fff;
	cursor: pointer;
}
.modal > .container .foot .left .color input::-moz-color-swatch {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50%;
}

.modal > .container .foot .right {
    display: flex;
}


.modal > .container .foot .right button {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    padding: 6px 16px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    background: #0B57D0;
    font-size: 14px;
    cursor: pointer;
    border-right: 1px solid #fff;
    font-weight: bold;
}

.modal > .container .foot .right button:last-child {
    border-radius: 0px 20px 20px 0px;
    padding: 6px 10px;
    border: none;
}

.modal > .container .btn-toolbar {
	display: grid;
    grid-template-columns: auto auto;
	gap: 5px;
}
.modal > .container .btn-toolbar button {
	border: 2px solid #ddd;
	border-radius: 6px;
	cursor: pointer;
    position: relative;
    background: none;
    padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}

.modal > .container .foot .right button:hover {
    z-index: 1;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
}
.modal > .container .btn-toolbar button:hover {
	background: #f3f3f3;
}
#content {
	padding: 8px 0px;
	outline: none;
    text-align: left;
	max-height: 50vh;
	overflow: auto;
    text-align: left;
    flex: 1;
    max-height: 280px;
}

#content::-webkit-scrollbar{
    width: 10px;

}

#content::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    cursor: pointer;
}
#content::-webkit-scrollbar-track {
    background-color: #DFE9EB;
}

#content::-webkit-scrollbar-track:hover {
    background-color: #b8c0c279;
}

#content::-webkit-scrollbar-track:active {
    background-color: #b8c0c28a;
}

#content::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #2c3e507e;
}

#content::-webkit-scrollbar-thumb:hover {
    background-color: #2c3e5096;
}

.upload {
    position: absolute;
    background: #f7f7f7;
    padding: 8px 12px;
    display: flex;
    gap: 5px;
    border-radius: 20px;
    bottom: 0;
    margin-right: 100px;
    right: 0;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}

.upload p {
    text-wrap: nowrap;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: bold;
}

.upload img {
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
}

button[title="removeImage"] {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
    background: none;
}

button[title="removeImage"]:hover {
    background: #1d1d1d13;
}

#show-code[data-active="true"] {
	background: #eee;
}

.loader {
    height: 50vh;
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
}

.loader::before{
    content: '';
    width: 70px;
    border: 7px solid var(--secondary-color);
    height: 70px;
    border-radius: 50%;
    border-top: 7px solid #fff;
    animation: spin 0.75s forwards infinite;
}

button.delete {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button.delete:hover {
    background: #1d1d1d13;
}

.calendar-modal > .container {
    width: 35vw;
    border-radius: 8px;
    background: #fff;
    height: 50%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    animation: 150ms appear ease-in;
}

.calendar-modal > .container span.text {
    font-size: 24px;
    align-self: flex-start;
    padding: 20px 0px 0px 0px;
    color: #141414;
}

.calendar-modal > .container .inputs {
    display: flex;
    align-self: flex-end;
    width: min-content;
    min-width: 45%;
    gap: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.calendar-modal > .container .buttons {
    display: flex;
    align-self: flex-start;
    gap: 10px;
}

.calendar-modal > .container .buttons button {
    padding: 8px 12px;
    border-radius: 15px;
    border: none;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: .2px;
    color: #fff;
    background: #0B57D0;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
    }
}

.calendar-modal > .container .buttons button:first-child {
    color: #0B57D0;
    background: none;
    box-shadow: none;
    &:hover {
        background: #0b57d01a;
    }
}

.calendar-modal > .container input {
    width: 100%;
    padding: 10px;
    background: none;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    height: 100%;
    outline: none;
    transition: 100ms;
    &:focus {
        border-color: #0B57D0;
    }
}

.calendar-modal > .container .buttons {
    display: flex;
}

.Subject {
    /* background: plum; */
    padding: 60px 0px 0px 5%;
    & {
        h2{
            font-weight: 400;
            font-size: 22px;
            color: #1F1F1F;
            padding: 0px 10px 0px 0px;
        }
    }
}

.recipient-details {
    /* background: rgb(238, 223, 55); */
    padding: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.recipient-details .admin-icon {
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: flex;
    font-weight: 450;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    background: #fb561c;
}

.recipient-details .recipient {
    display: flex;
    justify-content: space-between;
    /* background: paleturquoise; */
    text-wrap: nowrap;
    flex: 1;
    align-items: center;
    height: min-content;
    & {
        .sender__name {
            font-size: 14px;
            color: #1F1F1F;
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 550;
        }
    }
}
.left-content {
    display: flex;
    flex-direction: column;
}

.content-time{
    /* font-size: 12px; */
    font-size: .75rem;
    font-family: 'Roboto';
    color: #5E5E5E;
    font-weight: 400;
    padding: 0px 16px 0px 0px;
}
.recipient__name,
.more-details {
    font-size: 12px;
    display: flex;
    position: relative;
    gap: 2px;
    color: #5E5E5E;
}
.lucent {
    display: flex;
    align-items: center;
}
.lucent .more-details > button {
    background: none;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: min-content;
    padding: 2px 1px;
    color: #5E5E5E;
    border-radius: 3px;
    &:hover {
        background: #12121210;
    }
    /* margin: 0px 0px 0px 10px; */
}

.message-content {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 16px 0px 5%;
}

.message-content img {
    margin: 45px 0px 0px 0px;
    width: 65%;
}

.more-details__container {
    z-index: 20;
    padding: 10px 0px 0px 0px;
    width: calc(300px - 90%);
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    background: #fff;
    font-family:Roboto;
    left: 10px;
    top: 20px;
    animation: fade 150ms ease-in;
    cursor: pointer;
    border-radius: 12px;
    max-height: 175px;
    overflow: auto;
    position: absolute;
    & {
        .Recipient__list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: #1F1F1F;
            font-size: 14px;
            list-style: none;
        }
        .icon-exp {
            padding: 0px 0px 0px 12px;
        }
    }
}

.icon-exp div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    padding: 0px 20px 0px 0px;
    width: 35%;
}


.icon-exp span {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.more-details__container::-webkit-scrollbar{
    width: 10px;
}

.more-details__container::-webkit-scrollbar {
    height: 5px;
    width: 6px;
    cursor: pointer;
}
.more-details__container::-webkit-scrollbar-track {
    background-color: #DFE9EB;
    border-radius: 0px 8px 8px 0px;
}

.more-details__container::-webkit-scrollbar-track:hover {
    background-color: #b8c0c279;
}

.more-details__container::-webkit-scrollbar-track:active {
    background-color: #b8c0c28a;
}

.more-details__container::-webkit-scrollbar-thumb {
    background-color: #2c3e507e;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}

.more-details__container::-webkit-scrollbar-thumb:hover {
    background-color: #2c3e5096;
}

.more-details p {
    padding: 10px 0px 0px 12px;
    font-size: 16px;
    color: #141414;
    letter-spacing: normal;
}
.Recipient__list li {
    border-bottom: 1px solid rgba(20, 20, 20, 0.1);
    padding: 5px 0px 2px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:last-child {
        border: none;
        padding: 5px 0px 2px 12px;
    }
}

.read-icon {
    margin: 0px 10px 0px 0px;
    width: 5px;
    height: 5px;
    background: var(--secondary-color);
    border-radius: 50%;
}

.read {
    background: var(--secondary-color);
}

.unread {
    background: rgba(74, 145, 226, 0.5);
}

@media (width<=985px) {
    .message-prev{ 
        flex-direction: column;
    }
    .message-prev .left {
        flex: 0 0;
    }
    .message-prev .right > .wrapper {
        flex-direction: column;
    }
    .time {
        align-items: flex-end;
    }
    .message-prev .right .content{
        max-width: none;
    }
    .messages {
        padding: 0px 60px 0px 20px;
    }
}

@media (width > 410px) {
    .lucent {
        gap: 15px;
    }
}

@media (width <= 785px) {
    .date {
        display: none;
    }
    .modal > .container .foot .buttons button:not(:first-child){
        display: none;
    }
    .small-scrn-none{
        display: none;
    }
    .modal {
        padding: 60px 15px;
    }
}

@media (width <= 410px) {
    .sender__name{
        width: 80%;
    }
    .lucent {
        gap: 5px;
    }
    .recipient-details .admin-icon {
        width: 35px;
        height: 35px;
        font-size: 22px;
        font-weight: 400;
    }
    .Subject {
        padding: 60px 0px 0px 0px;
    }
    .message-content {
        padding: 30px 16px 0px 0px;
    }
    .modal > .container .foot .left{
        display: none;
    }
    .modal > .container .foot{
        justify-content: row;
    }
    .modal > .container .foot .right{
        align-self: flex-end;
        flex: 1;
        margin-bottom: 5px;
    }

}