@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #2C3E50;     
    --secondary-color: #4A90E2;   
    --light-blue: #A3C9F9;          
    --accent-color: #FFC107;       
    --primary-text-color: #2C3E50;   
    --secondary-text-color: #333333; 
    --light-text-color: #5A5A5A;  
    --darker-blue: #04125c; 
}


.form-container {
    display: flex;
    padding: 10px 20px 10px 60px;
    align-items: flex-start;
    gap: 85px;
    flex-wrap: wrap;
}


.form-group {
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    min-width: 250px;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}


#cellnamegroup{
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.last-group {
    margin: 0;
}

.form-group input {
    display: block;
    height: 45px;
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #04125c;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-out, border 0.3s ease-out;
    letter-spacing: 0rem;
}

.form-group input:not(:focus),
.form-group select:not(:focus) {
    color: #808080;
}

.form-group label {
    font-size: 1.1rem;
    font-weight: 450;
    letter-spacing: 0rem;
}

.form-group input:focus, 
.form-group select:focus {
    border: 1px solid var(--secondary-color);
}

.form-group input:valid {
    border: 1px solid var(--secondary-color);
    color: #000000;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
    margin: 0;
}

input[type="number"] {
    appearance: none; 
}

.notclickable input{ 
    pointer-events: none;
}

.form-group select {
    display: block;
    height: 45px;
    width: 100%;

    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #04125c;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-out, border 0.3s ease-out;
    letter-spacing: 0rem;
}

.updatebutton {
    padding: 8px 18px;
    border-radius: 5px;
    border: none;
    background: #316FF6;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    align-self: flex-start;
    transition: 0.5s ease;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.form-group-a,
.form-container-b {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.updatebutton:hover {
    background-color: #4a91e2ef;
    color: #fff;
}

.prompt-parent {
    width: 100vw;  
    height: 100vh;  
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50%;    
    z-index: 1;
    background: #3d3d3da1;
    position: absolute;
    transform: translate(0%, -50%) ;
    animation: fade .2s ease-out;

}

.success-prompt {
    animation: fade .2s ease-in;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 450px;

    border-radius: 5px;
    box-shadow: 3px 4px 40px hsla(0, 0%, 0%, 0.849);
    color: #fff;
    background: #316FF6;
}

.hidden {
    display: none;
}
.success-prompt i {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: rotate-center 0.6s linear  both infinite;
    animation: rotate-center 0.6s linear both infinite;
}

.form-group select > option {
    border-radius: 5px;
    outline: none;
}


.notvisible {
    opacity: 0;
    visibility: hidden;
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    z-index: 11;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader::before {
    content: "";
    width: 90px;
    height: 90px;
    border: 5px solid var(--darker-blue);
    border-top-color: #f9f9f9;
    border-radius: 50%;
    animation: spin 0.55s linear infinite;
}

.loader::after {
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    border: 5px solid var(--secondary-color);
    border-bottom-color: #f9f9f9;
    border-radius: 50%;
    animation: opposite-spin 0.75s linear infinite;
}

.inner-loader {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: 5px solid var(--darker-blue);
    border-radius: 50%;
    background: var(--darker-blue);
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes opposite-spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}


@media (width <= 768px) {
    .form-container {
        gap: 10px;
    }
    
}