<div class="message-prev">
    <div class="left">
        <span class="sender">To: {{name}}</span>
    </div>
    <div class="right">
        <div class="wrapper">
            <span class="label">{{type}}</span>
            <span class="subject">{{Subject}}</span>
            <span class="content"> - {{Content}}</span>
        </div>
    </div>
    <div class="time">{{date}}</div>
    <div class="actions">
        <button type="button" class="material-symbols-outlined delete delete-btn">delete</button>
    </div>
</div>
                