:root {
    --primary-color: #2c3e50;
    --secondary-color: #4a90e2;
    --light-blue: #a3c9f9;
    --accent-color: #ffc107;
    --primary-text-color: #2c3e50;
    --secondary-text-color: #333333;
    --light-text-color: #5a5a5a;
    --darker-blue: #04125c;
}

.form-container {
    display: flex;
    padding: 20px 60px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.form-group {
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    justify-content: center;
    flex: 1;
    margin: 0px 0px 20px 0px;
    font-family: "arial" sans-serif;
}

#pcf-name,
#senior-cell-name,
#cell-name {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.last-group {
    margin: 0;
}

.left-group:nth-child(1),
.left-group:nth-child(2),
.left-group:nth-child(3) {
    margin-right: 19px;
}

.form-group input {
    display: block;
    height: 45px;
    width: 450px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid #04125c;
    font-size: 1.1rem;
    font-weight: 400;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.002);
    letter-spacing: 0rem;
    transition: all 0.3s ease-out, border 0.3s ease-out;
}

.form-group input:not(:focus),
.form-group select:not(:focus) {
    color: #808080;
}

.form-group label {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0rem;
}

.form-group input:focus,
.form-group select:focus {
    border: 1px solid var(--secondary-color);
}

.form-group input:valid {
    border: 1px solid var(--secondary-color);
    color: #000000;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* Chrome, Safari, Edge, Opera */
    margin: 0;
}

input[type="number"] {
    appearance: none;
}

.form-group select {
    display: block;
    height: 45px;
    width: 450px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid #04125c;
    font-size: 1.1rem;
    font-weight: 400;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.002);
    letter-spacing: 0rem;
    transition: all 0.3s ease-out;
}

.fa-solid.fa-xmark.fa-2xl {
    color: red;
    border-radius: 50%;
    border: 2px solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: shake-horizontal 1.2s steps(5, start) infinite alternate-reverse both;
    animation: shake-horizontal 1.2s steps(5, start) infinite alternate-reverse both;
}

.fa-solid.fa-spinner-third.fa-2xl {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: rotate-center 0.6s linear both infinite;
    animation: rotate-center 0.6s linear both infinite;
}

.hidden {
    display: none;
}

.parent-button {
    display: flex;
    justify-content: flex-end;
    padding: 0px 150px 0px 0px;
}

.submitreportbutton {
    width: 85px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: #316ff6;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}