* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 100vw;
    min-height: 100vh;
    color: #04125c;
    line-height: 1.6;
}

.sub-body {
    height: 100vh;
}

.horizontal-navbar {
    background: #f9f9f9;
    height: 10%;
}

.dashboard-sub-body {
    display: flex;
    height: 90%;
}

.vertical-navbar {
    background-color: #f9f9f9;
    width: 300px;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 200px;
    padding: 10px 10px;
    border-bottom: 2px solid #04125c;
}

.userGreeting {
    text-wrap: nowrap;
    text-transform: capitalize;
    font-size: 1.4rem;
}

.greeting-user {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #04125c;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #e7e7e78e;
}

.edit-profile {
    display: flex;
    background: #04125c;
    color: #f9f9f9;
    width: 100%;
    height: 40px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.082);
    align-items: center;
    justify-content: space-evenly;
    transition: background 0.1s ease-in-out;
    font-weight: bold;
    font-size: 1.05rem;
    cursor: pointer;
    text-wrap: nowrap;
    padding: 0px 60px;
    border-radius: 15px;
}

.edit-profile a {
    margin-left: 5px;
}

.edit-profile:hover,
.logout-button:hover {
    background: hsl(215, 100%, 65%);
}

.navbar-list-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
    height: 353px;
}

.dashboard-links {
    line-height: 40px;
    list-style: none;
    width: 100%;
}

.fa-duotone.fa-diagram-lean-canvas,
.fa-duotone.fa-pen-to-square,
.fa-duotone.fa-megaphone.fa-rotate-by,
.fa-duotone.fa-right-from-bracket.fa-lg,
.fa-solid.fa-arrow-left,
.fa-duotone.fa-solid.fa-house {
    margin-right: 5px;
}

.logout-parent {
    display: block;
    width: 100%;
    padding: 10px 5px;
}

.logout-button {
    display: block;
    background: #04125c;
    height: 40px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.082);
    align-content: center;
    transition: background 0.1s ease-in-out;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    text-align: center;
}

.button {
    background: none;
    border: none;
    color: #f9f9f9;
    font-weight: bold;
    font-size: 1.05rem;
}

.dashboard-items {
    transition: all 0.1s ease-in;
    cursor: pointer;
    padding: 5px;
}

.dashboard-items:hover {
    background: #92BDF9;
}

.dashboard-content {
    width: 100%;
    height: 100%;
    border: 2px solid #04125c;
    border-right: none;
    background: #ffff;
    border-radius: 10px 0px 0px;
    overflow-y: auto;
}

.dashboard-content-box {
    width: 100%;
    height: 100%;
}

.dashboard-content-title {
    display: flex;
    padding: 10px;
    width: 100%;
    background: #04125c;
    border-radius: 5px 0px 0px;
    color: #f9f9f9;
    box-shadow: 4px 1px 20px rgba(0, 0, 0, 0.13);
}

.dashboard-content-title h1 {
    letter-spacing: 2.5px;
}

.go-back {
    display: flex;
    margin-right: 10px;
}

.go-back p{
    position: relative;
    width: max-content;
}

.go-back p::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 15px;
    height: 2px;
    width: 100%;
    background: #ffffff;
    transform: scaleX(0);
    transition: 0.3s ease-in-out;
}

.go-back p:hover::after{
    transform: scaleX(1);

}

.overview {
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #ffffff;
    /* font-size: 1.5rem; */
}

.overview-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    padding: 10px;
    margin: 25px 0px 0px 50px;
}

.overview-text h2 {
    font-size: 2.5rem;
}

.overview-text p {
    font-size: 1.2rem;
    margin-left: 7px;
}

.form-container {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    justify-content: space-around;
}


.form-group {
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    justify-content: center;
    flex: 1;
    margin: 0px 0px 20px 0px;
    font-family: 'arial' sans-serif;
}

.form-group input {
    display: block;
    height: 45px;
    width: 450px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #04125c;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.002);
    letter-spacing: 0rem;
}

.form-group input:not(:focus),
.form-group select:not(:focus) {
    color: #808080;
}

.form-group label {
    font-size: 1.1rem;
    font-weight: 450;
    letter-spacing: 0rem;

}

.form-group select {
    display: block;
    height: 45px;
    width: 450px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #04125c;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.002);
    letter-spacing: 0rem;
}

.updatebutton {
    width: 85px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: #316FF6;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
    cursor: pointer;
    position: relative;
    top: 70px;
    left: 370px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.updatebutton:hover {
    background-color: #92BDF9;
    color: #fff;
}