<div class="Subject">
    <h2>{{Subject}}</h2>
  </div>
  <div class="recipient-details">
    <div class="admin-icon">A</div>
    <div class="recipient">
      <div class="left-content">
        <span class="sender__name">Christ Embassy Abaranje (Admin)</span>
      </div>
      <div class="content-time">
        <span class="date">{{date}} ,</span>
        <span class="__time">{{time}}</span>
      </div>
    </div>
  </div>
  <div class="message-content">
    <!-- Populated from server -->
    {{Content}}
    <img src="{{image}}" alt="img" {{style}}>
  </div>
  