@import url('https://fonts.googleapis.com/css2?family=RoboNto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --primary-color: #2C3E50;     
    --secondary-color: #4A90E2;   
    --light-blue: #A3C9F9;          
    --accent-color: #FFC107;       
    --primary-text-color: #2C3E50;   
    --secondary-text-color: #333333; 
    --light-text-color: #5A5A5A;  
    --darker-blue: #04125c; 
}

.overview {
    padding: 0px 10px;
    gap: 45px;
    height: 85%;
    /* justify-content: space-between; */
}


.functions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-button {

    display: flex;
    align-items: center;
    gap: 6px;
    padding: 5px 16px 5px 5px;
    font-weight: 450;
    cursor: pointer;
    letter-spacing: normal;
    color: var(--primary-text-color);
}

.filters-function {
    border-radius: 8px;
    position: relative;
    background: #fff;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.15);
}

.filters-function svg {
    fill:#2c3e50;
}

.options_container {
    box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.2);
    animation: appear 100ms ease;
    position: absolute;
    right: -290px;
    top: 40px;
    z-index: 20;
    flex-direction: column;
    background: #fff;
    padding: 5px 8px;
    border-radius: 12px;
    color: #333333;
    font-weight: normal
}

.options_container .filters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 10px;
    font-size: .975rem;
}

.options_container .filter-title {
    font-size: .875rem;
    font-weight: 450;
}

.filter-group select {
    border-radius: 4px;
    padding: 3px 5px;
    outline: none;
    border: 1px solid var(--secondary-color);
    color: #141414;
}

.filter-group {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.filter-group label {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.filter-group.sort {
    gap: 12px;
    justify-content: flex-start;
}

.filter-group.sort > button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.sortVg {
    transition: 100ms;
}

.filter-group.sort > button:hover .sortVg{
    fill: #4A90E2;
}

.filter-group input[type=checkbox] {
    cursor: pointer;
}

.top {
    display: flex;
    padding: 5px 0px;
    align-items: center;
    justify-content: flex-end;
}

.top > button {
    border: none;
    outline: none;
    display: flex;
    border-radius: 8px;
    align-items: center;
    font-size: .875rem;
    padding: 5px 8px;
    transition: 100ms;
    cursor: pointer;
}

.download-box {
    display: flex;
    width: 100%;
    padding: 5px 0px;
    align-items: center;
    justify-content: space-between;
}

.download-box > button {
    padding: 5px 8px;
    border: none;
    border-radius: 8px;
    transition: 100ms;
    cursor: pointer;
}

.top > button:hover .top > button>svg {
    fill: white;
}
.top > button:hover,
.download-box > button:hover {
    opacity: .9;
    background: #4A90E2;
    color: #fff;
}

.table__ {
    flex: 1;
    display: flex;
    max-height: 450px;
    position: relative;
    justify-content: center;
    flex-direction: column;
    border-radius: 3px;
    align-items: center;
    background: var(--primary-color);
}

.table-container {
    overflow: auto;
    flex: 1;
    border-radius: 3px 3px 0px 0px;
    background: #fff;
    width: 100%;
}

.users-table {
    border-collapse: collapse;
    text-align: center;
    table-layout: auto;
    width: 100%;
    /* min-width: 800px; */
}

.empty-div {
    height: 13%;
}

.users-table th,
.users-table td {
    text-overflow: ellipsis;
    white-space: nowrap; 
    padding: 12px;
}

.users-table th:nth-child(1),
.users-table td:nth-child(1) {
    width: 50px;
    max-width: 80px;
}
.users-table th:last-child,
.users-table td:last-child {
    border-right: none;
}

.users-table thead > tr {
    background-color: var(--primary-color);
}

.users-table td {
    border-bottom: 1px solid rgba(44, 62, 80, 0.2);
}

.users-table tr:last-child {
    border: none;
}

.users-table th {
    font-weight: 450;
    position: sticky; 
    top: 0;
    background: var(--primary-color);
    z-index: 15;
}

.users-table thead {
    color: #fff;
    background: var(--primary-color);
}

.table-container::-webkit-scrollbar {
    width: 8px;
    height: 7px;
    padding: 10px 5px;
}

.table-container::-webkit-scrollbar-button {
    height: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.table-container::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px;
    height: 10px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 24px 0px 0px;
    background: #f9f9f9;
    justify-content: flex-end;
    flex: 1;
    max-width: 30%;
}

.search-parent  {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 25px;
    align-items: center;
    transition: 400ms ease-in-out, border 10ms linear;
    background: #fff;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    justify-content: space-between;
    position: relative;
}

.search-parent.active {
    flex-direction: row;
    flex: 1;
    border-radius: 25px;
}
.search-parent.active .search_input-container {
    display: flex;
}

.search-parent.active .search-icon {
    /* height: 0; */
}

.search_input-container {
    display: none;
    /* width: 60%; */    
    width: 85%;
}

.search-box input {
    border: none;
    outline: none;
    padding: 0px 12px;
    font-size: .935rem;
}

.search-parent .search-icon {
    border-radius: 50%;
    background: #fff;
    width: 34px ;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    cursor: pointer;
}

.search-box > input:focus {
    border: 1.5px solid var(--secondary-color);
}

.drop-down {
    position: absolute;
    top: 25px;
    display: flex;
    flex-direction: column;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 15;
    min-width: 150px;
}

.download-button {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.download-button:hover {
    background: #d1d1d1;
}

.table-foot {
    padding: 5px 10px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
    outline: none;
    gap: 12px;
    text-decoration: none;
}



.pagination button {
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    cursor: pointer;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.12);
    transition: all 100ms linear;
    background: #fff;
}

button:disabled {
    opacity: .4;
    pointer-events: none;
}

#pageInfo {
    color: #fff;
    font-size: .875rem;
}

.pagination button:nth-child(1):hover {
    padding: 3px 3px 3px 20px;
}
.pagination button:hover {
    padding: 3px 20px 3px 3px;
    border-radius: 12px;
    opacity: .9;
}

.pagination button:active {
    transform: translateY(5px);
    background: #3a86dd;
}

.hidden {
    display: none;
}

.loader {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: var(--primary-text-color);
    font-weight: 500;
    gap: 3px;
    padding: 5px 12px;
    border-radius: 8px;
}
.entries{
    font-size: .785rem;
}
.loader::before {
    content: '';
    width: 30px;
    height: 30px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    border-top: 4px solid #fff;
    animation: spin 900ms ease infinite;
}

.table-title {
    background: #fff !important;
    border-bottom: none !important;
    font-size: 1rem;
    font-weight: 550;
    color: var(--primary-text-color) !important;
}

.verification-container {
    display: flex;
    gap: 8px;
}

.verification-container button{
    display: flex;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: 100ms;
    background: none;
}
.verification-container button:hover{
    opacity: .7;
}

.status.Denied {
    color: red;
}
.status.Pending {
    color: grey;
}
.status.Approved {
    color: var(--secondary-color);
}

#approve-button {
    color: green;
}
#deny-button {
    color: red;
}

@media (width <= 768px) {
    .empty-div {
        height: 12%;
    }
    .overview {
        justify-content: flex-start;
    }
    .search-box {
        max-width: 50%;
    }
}