
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    max-width: 100vw;
    min-height: 100vh;
    color: #04125c;
    line-height: 1.6;
}

.landing-page-navbar { 
    background-color: transparent;
}

.btn-71-hide {
    display: none;
}

/* handling error message  */

.error-message{
    display: none;
}

.error-message-visible {
    display: block;
    text-transform: capitalize;
    font-size: 1.1em;
    font-weight: 500;
    animation: fade 100ms ease-in;
    color: red;
}


.header-register {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-image: url(../../src/R.jpeg);      
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 25px;
    z-index: 0; 
}

/* using the before psudeo class to blur set image  */

.header-register::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: inherit; 
    filter: blur(2.8px);
    z-index: -1;
}

.header-register h1 {
    color: white;
    font-size: 2rem;
}


/* glass like container */

.register-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, 0.047);
    border-radius: 25px;
    flex: 1;
    max-width: 900px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(2.8px);
    backdrop-filter: blur(2.8px);
    /* animation: appear 0.7s linear;
    animation: fade 0.5s linear; */
}

.register-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex: 1;
    padding: 0px 30px 0px 0px;
    width: 50%;
    text-wrap: nowrap;
    height: max-content;    
}

.register-container-text h1 {
    font-size: 2rem;
    animation: fade 0.5s linear;
    text-shadow: 6px 4px rgba(0, 0, 0, 0.089);
}

.register-container-text p{
    color: #fff;
    animation: fade 0.5s linear;
    font-size: 1.3rem;
}


/* styling the form  */
.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    animation: fade 0.5s linear;
    padding: 25px 5px 0px 0px;
    flex: 1;
}

.registration-forms-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.registration-form input {
    display: block;
    /* position: relative; */
    min-height: 45px;
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 6px 4px 40px rgba(0, 0, 0, 0.582);
    border-style: none;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0rem;
}



.input-groups {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: baseline;
    justify-content: center;
    position: relative;
    /* max-width: 300px; */
    /* margin: 0px 0px 25px 0px; */
    /* padding: 5px; */
}

.input-groups input {
    background: none;
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    transition: 400ms ease;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
    margin: 0;
}

input[type="number"] {
    appearance: none; 
}

.input-groups label {
    margin: 0px 0px 0px 12px;
    /* top: 0px; */
    bottom: 8px;
     /* top: 10px;
    left: 10px; */
    color: rgb(255, 255, 255); 
    position: absolute;
    font-size: 1.1rem;
    font-weight: 400;
    pointer-events: none;
    letter-spacing: 0rem;
    transition: 150ms linear;
    border-radius: 5px;
    background: transparent;
}


input:focus + label,
input:not(:placeholder-shown) + label,
select:focus + label,
select:not(:placeholder-shown) + label{
    top: -9px;
    left: -4px;
    padding: 0px 5px;
    font-weight: 400;
    height: 20px;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    background: #316FF6;

}

.input-groups input:focus, 
.input-groups input:not(:placeholder-shown) {
    border: 2px solid #316FF6;
}

.input-groups select:focus, 
.input-groups select:not(:placeholder-shown) {
    border: 2px solid #316FF6;
}

.registration__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    padding: 5px;
    width: 100%;
    text-align: left;
    min-width: 300px;
    color: rgb(209, 209, 209);
}

.registration__form p {
    font-size: 1.15em;
}

.registration__form a{
    color: #92BDF9;
}

.nextformbutton,
.nextform2button,
.submitformbutton,
.gobacktosecondform,
.gobacktofirstform {
    padding: 5px 15px 5px 10px;
    border-radius: 5px;
    border: none;
    width: min-content;
    background: #316FF6;
    color: rgb(255, 255, 255);
    transition: 150ms ease;
    cursor: pointer;
    white-space: nowrap;
    font-size: .875rem;
    box-shadow: 6px 4px 40px rgba(0, 0, 0, 0.582);
}

.nextformbutton:hover,
.nextform2button:hover,
.submitformbutton:hover,
.gobacktosecondform:hover,
.gobacktofirstform:hover {
    background-color: #316ff69c;
    color: #fff;
}

.next-register-hidden {
    display: none;
}

.registration__form2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding: 5px;
    width: 100%;
    text-align: left;
    min-width: 300px;
    color: rgb(209, 209, 209);
}

.visible {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, 0.047);
    border-radius: 25px;
    flex: 1;
    max-width: 900px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(2.8px);
    backdrop-filter: blur(2.8px);
    animation: slideInFromRight 0.2s backwards;
}

.input-groups select {
    background: none;
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    display: block;
    min-height: 45px;
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0rem;
    text-transform: capitalize;
}

.input-groups select,
.input-groups label{
    animation: fade 0.5s ease-in;

}

.input-groups option {
    text-transform: uppercase;
    color: #316FF6;
}

.hidden{
    animation: slideInFromLeft 0.2s backwards;
    display: none;
}
 
.hiddeninputsvisible{
    display: block;
}

#zones,
#churches{
    /* width: 300px; */
}

#cell-name-label,
#church-name-label{
    left: 5.5px;
}

.password-form-hidden{
    display: none;
}

.toggle-password {
    position: absolute;
    right: 10px;
}


.fa.fa-eye{
    color: #ffff;
    transition: 0.2s ease-in;
}

.fa-eye-slash {
    color: #ffff;
}

.hidden-registration-prompt {
    display: none;
}

.prompt-visible{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    right: 525px;
    bottom: 140px;
    border: 2px solid #316FF6;
    /* background: #fff; */
    border-radius: 5px;
    padding: 15px;
    color: #316FF6;
    width: 270px;
    font-size: 1.2rem;
    text-wrap: nowrap;
    animation: 0.5s fade ease-in;
}

.fa-regular.fa-circle-check{
    animation: 0.5s jump linear infinite;
}


.prompt-parent {
    width: 100vw;  
    height: 100vh;  
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50%;    
    z-index: 1;
    background: #3d3d3da1;
    position: absolute;
    transform: translate(0%, -50%) ;

}

.success-prompt {
    animation: fade .2s ease-in;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 3px 4px 40px hsla(0, 0%, 0%, 0.849);
    color: #fff;
    background: #316FF6;
}

.fa-solid.fa-xmark.fa-2xl {
    color: red;
    border-radius: 50%;
    border: 2px solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
	-webkit-animation: shake-horizontal 1.2s steps(5, start) infinite alternate-reverse both;
	animation: shake-horizontal 1.2s steps(5, start) infinite alternate-reverse both;
}


.fa-solid.fa-spinner-third.fa-2xl {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: rotate-center 0.6s linear  both infinite;
    animation: rotate-center 0.6s linear both infinite;
}

.hidden {
    display: none;
}
